html {
  height: 85%;
}

body{
  margin: 0;
  padding: 0;
  font-size: 12px;
	text-align: center;
  background: linear-gradient(45deg, #004FF9, #FFF94C);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

.intro{
  display: flex;
  justify-content: center;
  margin-top: 15%;
  padding-bottom: 0%;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%
  }
}

.icons-social i {
	padding: 10px;
  font-size: 3em;
  margin-top: 30px;
}

.icons-social a {
  color: #181152;
}

.Hi{
  width: 18ch;
  font-family: monospace;
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  animation: print 2s steps(18) ;
}

 @keyframes print {
  from{
    width: 0;
  }
}

.tagline{
  padding-top: 5%;
  font-size: 35px;
  font-family: monospace;
}
