html {
  font-size: 12px;
}

body{
  margin-top: 90px;
	text-align: center;
  color: #0277BD;
}

.icons-social i {
	padding: 10px;
  font-size: 3em;
}

.icons-social a {
  color: #0277BD;
}

.intro {
  font-size: 50px;
}

.tagline{
  font-size: 35px;
}
